# Build-Ausgabe (Visual Studio) #
#################################
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
build/
out/

# Compiler- und Linker-Dateien #
################################
*.obj
*.o
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.a
*.pch
*.ipch
*.tlog
*.lastbuildstate
*.iobj
*.ipdb
*.exe
*.dll
*.so

# Visual Studio #
#################
.vs/
*.user
*.suo
*.aps
*.VC.db
*.VC.VC.opendb
*.sdf
*.opensdf
*.cachefile
*.log

# CMake (falls verwendet) #
###########################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Editoren #
############
.vscode/

# OS-Dateien #
##############
.DS_Store
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Archive #
###########
*.7z
*.zip
*.rar
*.tar
*.gz

# Projektspezifisch #
#####################
ExternalResources/
Altes Semester/